JWT_SECRET=请填写随机JWT密钥
MYSQL_DSN=请填写云数据库连接串

TENCENT_SECRET_ID=请填写腾讯云SecretId
TENCENT_SECRET_KEY=请填写腾讯云SecretKey
TENCENT_SES_REGION=ap-hongkong
TENCENT_SES_FROM=Room <moonc@ses.moonc.love>
TENCENT_SES_TEMPLATE_ID=186671

COS_BASE_URL=请填写COS源站地址
COS_PATH_PREFIX=room
COS_CDN_URL=请填写CDN地址
